<div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to ToDo List</h1>
      <p class="lead">
        Manage your tasks efficiently with our simple and intuitive ToDo List app.
      </p>
      <hr class="my-4" />
      <p>
        Stay organized and never forget important tasks. Our app is designed to make your life easier by providing you with a powerful tool for task management.
      </p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
    </div>
  </div>
  